*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav h2 {
  display: none;
}

.links ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  text-align: left;
  margin: 0 0 0 10px;
}

.links ul li {
  display: inline-block;
  padding: 10px 15px;
}

.links ul li a {
  text-decoration: none;
  color: #000;
}

.small-rectangle {
  display: none;
}

.rectangle {
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

@media screen and (min-width: 600px) {
  .gallery {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  .figure {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  .figure:nth-child(2) .rectangle {
    order: 1;
  }

  .figure:nth-child(2) .text {
    order: 0;
  }

  .rectangle {
    display: block;
    flex-basis: 30%;
  }
  .text {
    flex-basis: 55%;
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 1100px) {

  .figure {
    flex-basis: 30%;
    flex-direction: row;
  }

  div.text, div.rectangle {
    flex-basis: 100%;
  }

  .figure:nth-child(2) .rectangle {
    order: 0;
  }

  .figure:nth-child(2) .text {
    order: 1;
  }

}
